.catalogBanner {
    margin: 3rem;
}

.catalogBanner img {
    border: 2px solid transparent;
    border-radius: 2rem;
    width: 100%;
}

.catalog{
    width: 90vw;
    margin: 2.5vw 5vw 2vw 5vw;
    /* border: 2px solid black; */
    display: flex;
}

.leftSection {
    /* border: 2px solid rgb(14, 36, 233); */
    width: 20%;
}

.leftSticky {
    box-shadow: 0 0 20px 5px rgb(133, 132, 132);
    border-radius: 4rem;
    width: 100%;
    height: 60vh;
    position: sticky;
    top: 25%;
    padding: 2rem;
    height: fit-content;

}

.leftSticky h1 {
    margin-top: 7%;
    text-align: center;
    font-size: 1.5rem;
}

.leftSticky select {
    margin-top: 40%;
    font-size: 1.2rem;
    font-weight: 600;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.leftSticky div {
  margin-bottom: 8%;
}



.rightSection {
    /* border: 2px solid rgb(238, 2, 2); */
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
}