.card {
  /* border: 2px solid black; */
  width: 100%;
  height: 22vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardImage {
  /* border: 2px solid burlywood; */
  width: 20%;
  height: auto;
  padding: 0.7rem;
}

.cardImage img {
  width: 90%;
  height: auto;
}

.cardInfo {
  /* border: 2px solid black; */
  height: 100%;
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.cardInfo h1 {
  font-size: 2rem;
  font-weight: 500;
}

.cardInfo h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.pricing h3 {
  font-weight: 600;
  font-size: 1.5rem;
  display: inline;
}

.pricing h4 {
  display: inline;
  text-decoration: line-through;
  font-size: 1.2rem;
  font-weight: 400;
  color: gray;
  margin-left: 2%;
  margin-bottom: 0;
}

.pricing h5 {
  display: inline;
  color: green;
  font-size: 1.2rem;
  margin-left: 2%;
}

.quantity {
  /* border: 2px solid green; */
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.qty {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: auto;
  margin-bottom: 5%;
  padding: 5px;
  border-radius: 1rem;
}

.iconMinus {
  color: rgb(13, 110, 245);
  font-size: 3rem;
}

.qty span {
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: auto;
  margin-bottom: auto;
}

.iconPlus {
  color: rgb(13, 110, 245);
  font-size: 3rem;
}

.quantity a {
  font-size: 1.5rem;
  color: rgb(245, 28, 13);
}

.hrDivide {
  margin: 0 1.5% 0 1.5%;
}

@media (max-width: 768px) {
  .card {
    height: fit-content;
    /* padding: ; */
  }

  .cardImage {
    flex: 1;
    margin: auto 0;
    padding: 0;
  }

  .cardInfo {
    flex: 2;
    padding: 0%;
  }

  .cardInfo h1 {
    font-size: 1.5rem;
  }

  .cardInfo h2 {
    font-size: 1rem;
  }

  .pricing h3 {
    font-size: 1rem;
  }

  .pricing h4 {
    font-size: 0.8rem;
  }

  .pricing h5 {
    font-size: 0.8rem;
  }

  .quantity {
    flex: 1.5;
  }

  .iconMinus {
    font-size: 1.5rem;
  }

  .qty span {
    font-size: 1.3rem;
  }

  .iconPlus {
    font-size: 1.5rem;
  }

  .quantity a {
    font-size: 1rem;
  }
}
