.editProfilePage {
  width: 100vw;
  height: 66vh;
}

.container {
  border: 2px solid black;
  border-radius: 10px;
  width: 70vw;
  height: 54vh;
  margin: 12vh auto;
}

.container h1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.editWrapper {
  width: 100%;
  height: calc(100% - 3.5rem);
  display: flex;
}

.left {
  height: 100%;
  flex: 0.4;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.avatar {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem;
  gap: 2rem;
  width: fit-content;
  height: fit-content;
  margin: auto;
  position: relative;
}

.avatarEditIcon {
  position: absolute;
  top: 5px;
  right: 5px;
}

.icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: scale(1, 1);
  transition: transform 0.5s ease;
}

.icon:hover {
  transform: scale(1.3);
}

.avatar img {
  width: 110px;
  height: 110px;
  border: 1px solid black;
  border-radius: 50%;
  object-fit: cover;
}

.avatar button {
  color: white;
  font-weight: 100;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background-color: green;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}

.navigation {
  margin-top: 2rem;
  border-radius: 10px;
}

.navigation button {
  font-size: 1.3rem;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin: auto;
  cursor: pointer;
}

.right {
  height: 100%;
  flex: 1.2;
}

.editInfo {
  padding: 2rem;
  padding-bottom: 1rem;
}

.editInfo span {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.editInfo input {
  width: 100%;
  height: 40px;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.3rem;
  outline: none;
  background-color: rgb(235, 244, 250);
}

.editName {
  margin-bottom: 1.5rem;
}

.editEmail {
  display: flex;
  gap: 2rem;
}

.email {
  flex: 1;
}

.phone {
  flex: 0.6;
}

.buttons {
  margin-top: 1rem;
  margin-right: 2rem;
  display: flex;
  justify-content: end;
  gap: 4rem;
}

.saveButton {
  color: white;
  font-weight: 100;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  background-color: green;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}

.cancelButton {
  color: green;
  font-weight: 100;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid green;
  border-radius: 1.5rem;
  cursor: pointer;
}

.security {
  border: 2px solid black;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem;
  display: flex;
}

.password {
  flex: 1;
}

.password h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.password span {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.password input {
  width: 60%;
  height: 30px;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 1.3rem;
  outline: none;
  background-color: rgb(235, 244, 250);
}

.changePassword {
  display: flex;
  align-items: flex-end;
}

.changePassword button {
  color: white;
  font-weight: 100;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  background-color: green;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .editProfilePage {
  min-height: 78vh;
  height: auto;
}

.container {
  border: none;
  width: 90vw;
  height: fit-content;
  margin: 3vh 5vw;
}

.editWrapper {
  flex-direction: column;
}

.left {
  padding-bottom: 0;
}

.icon {
  width: 20px;
  height: 20px;
}

.avatar img {
  width: 80px;
  height: 80px;
}

.avatar button {
  font-weight: 400;
  font-size: 1rem;
}

.navigation {
  display: none;
}

.editInfo {
  padding: 2rem 0;
  padding-bottom: 1rem;
}

.editInfo input {
  height: fit-content;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.phone {
  flex: 0.5;
}

.saveButton {
  font-weight: 400;
}

.cancelButton {
  font-weight: 400;
}

.security {
  border: 1px solid black;
  margin: 0;
  margin-top: 4rem;

}

.password {
  flex: 1;
}

.password input {
  width: 70%;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.changePassword button {
  font-weight: 400;
}

}
