#root {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    justify-content: space-between;
}

.Toaster {
    z-index: 20000;
}

.bannerTop {
    width: 100vw;
    display: block;
}

.footerImg {
    width: 100vw;
    margin-bottom: 0px;
    display: flex;
}
