.uploadPrescription {
  background-color: rgb(232 250 242);
  width: 100vw;
  height: 79vh;
  padding: 5vh 12vw;
}

.uploadPrescription h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
}

.container {
  height: calc(100% - 2rem - 15px);
  width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 0.7fr 1fr;
  gap: 10px;
}

.gridBox {
  background-color: rgb(212 237 232);
  border: 2px solid rgb(197 226 220);
  border-radius: 1rem;
  padding: 1rem;
}

/* Upload Precription Box */
.upload {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.uploadIcon {
  color: rgb(74 92 102);
  font-size: 3rem;
  position: absolute;
  top: 0px;
}

.uploadImage {
  flex-grow: 1;
  background-color: rgb(232 244 240);
  border: 2px dashed black;
  border-radius: 1rem;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  gap: 10px;
  transition: background-color 0.4s ease-in-out;
}

.uploadImage:hover {
  background-color: rgb(212 237 232);
  cursor: pointer;
}

.uploadImage img {
  height: 6rem;
}

.uploadButton {
  position: absolute;
  background-color: rgb(74 92 102);
  color: white;
  border: transparent;
  bottom: -16px;
  padding: 0.5rem 1.5rem;
  border-radius: 5rem;
  cursor: pointer;
}

/* Guidelines Box */
.guidelines {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.guidelines h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.guidelines > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 0.7rem;
}

.guidelines strong {
  font-size: 1.2rem;
}

.guidelines li {
  font-size: 1.2rem;
}

/* Process step box */
.process {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2rem;
}

.process h2 {
  font-size: 1.5rem;
  text-align: center;
}

.processContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.processBox {
  text-align: center;
}

.processBox div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.processBox img {
  height: 5rem;
}

.processBox h3 {
  font-size: 1.1rem;
}

.processBox strong {
  font-size: 1.2rem;
}

.processBox p {
  padding: 0 0.5rem;
  font-size: 1rem;
}

.callButton {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.callButton a {
  font-size: 1.2rem;
  color: white;
  background-color: green;
  text-decoration: none;
  margin-bottom: 5px;
  padding: 0.5rem 2rem;
  border-radius: 5rem;
}

.callButton p {
  padding: 0 0.5rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .uploadPrescription {
    height: fit-content;
    padding: 3vh 5vw;
  }

  .uploadPrescription h1 {
    font-size: 1.5rem;
  }

  .container {
    grid-template-columns: 1fr;
  }

  /* Upload Precription Box */
  .upload {
    padding: 1rem;
    padding-bottom: 2rem;
  }

  .uploadIcon {
    font-size: 2rem;
  }

  .uploadImage img {
    height: 4rem;
  }

  .uploadButton {
    bottom: -13px;
  }

  /* Process step box */
  .processContainer {
    grid-template-columns: 1fr;
  }

  .processBox p {
    padding: 0 2rem;
  }

  .callButton p {
    text-align: center;
    padding: 0 2rem;
  }
}
