.changePasswordPanel {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.changePasswordPanel:global(.isVisible) {
    opacity: 1;
}

.panelLayout {
  width: 40vw;
  background-color: white;
  border-radius: 1rem;
  background-color: rgb(131, 231, 113);
  transform: scale(0);
  transition: transform 0.4s ease;
}

.changePasswordPanel:global(.isVisible) .panelLayout {
    transform: scale(1);
}

.panelLayout h1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.fields {
  background-color: white;
  padding: 2rem 2rem;
  padding-top: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.fields span {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.field {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: rgb(235, 244, 250);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.field input {
  flex-grow: 1;
  height: 38px;
  font-size: 1.3rem;
  outline: none;
  border: none;
  background-color: rgb(235, 244, 250);
}

.icon {
  color: rgb(89, 89, 91);
  cursor: pointer;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
}

.cancelButton {
  color: green;
  font-weight: 100;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  background-color: transparent;
  border: 2px solid green;
  border-radius: 1.5rem;
  cursor: pointer;
}

.saveButton {
  color: white;
  font-weight: 100;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
  background-color: green;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}
